/* Airport Way Service Glass */
/* created by: Jill Chatham, Gene Chatham */
/* first started: 5 Feb 2015 */

body {
	background-color: #ecf0f1;
	color: black;
}

.column, .columns{
  min-height: 1px;
}

.topBorder {
	/*background-color: #27ae60;*/
	height: 9px;
	padding: 0;
	margin-right: 0;
	margin-bottom: 0;
}

.topBorderRow {
	padding: 0;
	/*margin-right: 0;*/
	margin-left: 0;
	width: 100%;
}

.hours {
	padding-top: 1.5em;
	text-align: right;
}

#phone {
	margin-bottom: 5px;
}

.businessName {
	font-family: "Days One" , serif;
	color: black;
	font-size: 2.5em;
	/*background-color: #579532;*/
	text-align: center;
	/*border: 3px solid black;
	border-radius: .2em;*/
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

#AWSG {
	margin-top: .25em;
}

.contact {
	margin-top: 1em;
	font-size: 1em;
}

.map-button {
	padding: 20px 10px;
	/*border-radius: .35em;*/
	/*text-align: right;*/
	/*font-size: 1.1em;*/
	margin-top: 0.6em;
	/*min-width: 160px;*/
	background: url("map.png") no-repeat;
	background-size: contain;
	color: blue;
}

.new {
	margin-top: 1.25em;
	text-align: center;
	font-size: 1.5em;
	color:#80BA5D;
	font-weight: bold;
}

.arc {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 1em;
}

.fa {
	font-size: 2px;
	color: #0077ab;
}

.photo-background {
	background: url(monroe.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-origin: border-box;
	opacity: 50%;
}

.blurb {
	text-indent: 2em;
	padding-top: 1em;
	text-align: center;
}

.tile {
	background-color: #ecf0f1;
	border: .25em solid #80BA5D;
	border-radius: .35em;
	height: 280px;
	margin: 10px 10px 10px 10px;
	max-width: 95%;


}

.services {
	color: white;
	font-weight: bold;
	font-size: 1.25em;
	text-align: right;
	line-height: 100%;
	background-color: #80BA5D;
	border: .25em solid #80BA5D;
	height: 60px;
	margin: 0;
	padding-right: 1em;

}

.locations {
	background-color: #ecf0f1;
	padding: 2 1 1 0;
	/*margin: 2 1 1 0;*/
}

.soon {
	color: #80BA5D;
	text-align: center;
}

.map {
	display: none;
	position: relative;
	padding-bottom: 50%;
	height: 0;
	overflow: hidden;
	margin-top: 1em;
	margin-bottom: 1em;
	/*text-align: center;*/
	/*padding-top: 1em;*/
	/*padding-bottom: 1em;*/
	/*display: none;*/
}

.map iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.copyright {
	text-align: center;
	font-size: 0.8em;
}