/* Airport Way Service Glass */
/* created by: Jill Chatham, Gene Chatham */
/* first started: 5 Feb 2015 */

body {
	background-color: #ecf0f1;
	color: black;
}

.column, .columns{
  min-height: 1px;
}

.topBorder {
	/*background-color: #27ae60;*/
	height: 9px;
	padding: 0;
	margin-right: 0;
	margin-bottom: 0;
}

.topBorderRow {
	padding: 0;
	/*margin-right: 0;*/
	margin-left: 0;
	width: 100%;
}

.hours {
	padding-top: .25em;
	text-align: right;
	font-size: 1.2em;
	/*border: solid red 1px;*/
}

.phone {
	padding-top: .25em;
	text-align: left;
	font-size: 1.2em;

}

.address {
	font-size: 1.2em;
	padding-top: .25em;
}

/*.logo-row {
	background-color: #FCFDFD;
	max-width: 100%;
}*/

.logo {
	/*border: solid red 1px;	*/
}

.logo img{
	display: block;
	margin: 0.5em auto;
	max-height: 134px;
	/*min-height: 134px;*/
	
}

#AWSG {
	margin-top: .25em;
}

/*.contact {
	margin-top: 1em;
	font-size: 1em;
}*/

.map-button {
	/*border: solid red 1px;*/
	/*padding-top: 1em;*/
	text-align: right;
}

.map-button img {
	box-shadow: 1px 1px #626262;
	max-height: 60px;
}
.map-button img:active {
	position: relative;
	top: 1px;
	left: 1px;
	box-shadow: none;
}

.new {
	margin-top: 1em;
	text-align: center;
	font-size: 1.5em;
	color:#80BA5D;
	font-weight: bold;
}

.arc {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 1em;
}

.fa {
	font-size: 2px;
	color: #0077ab;
}

@media only screen and (min-width: 40.063em) {

	.photo-background {
		background: url(images/monroe_skinny.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-origin: border-box;
		opacity: 10%;
	}
}

@media only screen and (max-width: 40em) {
	
	.photo-background{
		background-color: #99CCE2
	}
	/*.photo-background {
		background: url(images/sky.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-origin: border-box;
		opacity: 50%;
	}*/
}

.blurb {
	text-indent: 2em;
	padding-top: 1em;
}

.blurb p{
	margin-bottom: 10px;
}

.tile {
	background-color: #ecf0f1;
	border: .25em solid #80BA5D;
	border-radius: .35em;
	height: 280px;
	margin: 20px 10px 20px 10px;
	max-width: 95%;


}

.services {
	color: white;
	font-weight: bold;
	font-size: 1.25em;
	text-align: right;
	line-height: 100%;
	background-color: #80BA5D;
	border: .25em solid #80BA5D;
	height: 60px;
	margin: 0;
	padding-right: 1em;

}

.services.icon-car {
	font-size: 3em;
	border: 0;
	padding-top: 0.1em;
}

.services.icon-home {
	font-size: 3.8em;
	border: 0;
	padding-top: 0.0em;
}

.services-list {
	padding-bottom: 0.5em;
}


.locations {
	/*width: 100%;*/
	padding: 0.5em 0 2em 0;
}

.locations div {
	margin-top: 0.25em;
	padding-left: 1em;
}

.map {
	position: absolute;
	left: -10000px;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 1em;
	margin-top: 0.75em;
} 
  


.big-map {
	height: 450px;
	width: 600px;
}

.small-map {
	height: 400px;
	width: 250px;
}

.partner {
	margin-top: 1em;
}

.checkout-big {
	text-align: right;
	margin-bottom: 1em;
}

.checkout-small {
	text-align: left;
	margin-bottom: 1em;
}

.partnerLogo img{
	display: block;
	max-height: 75px;
	max-width: 300px;
	margin-left: auto; 
	margin-right: auto; 
	margin-bottom: 1em;
}

.partnerContact-small {
	text-align: center;
	margin-bottom: 1em;
}

.partnerContact-big {
	text-align: left;
	margin-bottom: 1em;
}

.copyright-row {
	background-color: #CCCCCC;
	/*width: 100%;*/
	margin-top: 1.5em;
	max-width: 100%;
	height: 2em;
}

.copyright {
	text-align: center;
	font-size: 0.8em;
	margin-top: 0.5em;
}
